{% extends 'base.html' %}

{% load static %} 
{% block title %} | {{ patient.last_name }}, {{ patient.first_name }} {% endblock %}
{% block styles %}

{% endblock %}

{% block content %}
    <h1> {{ patient.last_name }}, {{ patient.first_name }}</h1>
        <p> Diagnosis: {{ patient.diagnosis }} </p>
        <p> Sex: {{ patient.sex }} </p>
        <p> Address: {{ patient.address }} </p>
        <p> Last checkup: {{ patient.last_checkup }} </p>
        <p> Lab Results Date: {{ patient.lab_results_date }} </p>
        <p> Lab Results Image: </p> 
        <img src={{patient.lab_results_img.url }}/>
    <br>
    <br>
    <a href="{% url 'mainpage:index' %}" class="detail-return-button"> Return to Patient Directory </a>
{% endblock %}